@import ./_Description
@import ./_Ingredients
@import ./_Price

.price
  position: absolute
  cursor: default
  width: 800px
  display: flex
  flex-direction: row
  justify-content: flex-end
  h3
    width: max-content
    padding: 8px 
    margin: 12px
    color: $white
    background: $yellow
    //border: 1px solid $red
    border-radius: 4px
    box-shadow: 2px 2px 4px rgba(0,0 ,0 ,0.5)
    //@media only screen and (min-width: $desktopBreakpoint)


