.hero__image
  width: 100%
  z-index: -1
  // margin-bottom: -150px
  // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))

.home__container  
  width: 100%

.spacer 
  height: 2rem

.home
  display: flex
  justify-content: center
  margin-left: auto
  margin-right: auto
  max-width: 1500px

  .product
    @media only screen and (min-width:$media-larger-phablet)
      width: 100%

.home__row 
  display: flex
  z-index: 1
  margin-left: 5px
  margin-right: 5px

@media only screen and (max-width:$media-larger-phablet)
  .home__row 
    display: grid

    .hero__image
      margin-bottom: -100px
      width: 100%

