input
  border: none
  height: 30px
  // border-radius: 8px
  background-color: $dark
  color: $white
  width: 400px

.input-title,.input-ingredient,.input-price
    height: button-height

.input-description
  height: 120px

.section-admin
  text-align: center
  .admin-subtitle,.admin-instructions
    width: 100%
    padding: 0
    @media only screen and (min-width: $desktopBreakpoint)
        padding: 0
