.custom-file-chooser 
  border-radius: 4px
  overflow: hidden


.custom-file-chooser input[type="file"] 
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1


.custom-file-chooser img 
  vertical-align: middle
  max-height: 200px
  object-fit: contain
  background-color: $color-red

  // height: 300px

