.custom-file-chooser 
  background-color: $color-text-silver
  border-radius: 4px
  overflow: hidden


.custom-file-chooser input[type="file"] 
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1


.custom-file-chooser img 
  object-fit: cover
  vertical-align: middle
  height: 300px

