.left-content img 
  width: 100%
  object-fit: cover
  
.right-content 
  display: flex
  flex-direction: column
  justify-content: space-evenly
  padding: 24px
  align-items: center
  background: url("../../assets/images/seamless.png")

  h2
    margin: 0
  
.masonry p 
  text-align: center
  max-width: 430px
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
  display: -webkit-box
  -webkit-line-clamp: 4
  -webkit-box-orient: vertical
  overflow: hidden

@media (max-width: $media-larger-phablet) 
  .left-content img 
    margin-bottom: -1rem
  .masonry p 
    margin-bottom: 2rem




@media (min-width: $media-larger-phablet) 
  .masonry 
    height: 350px
    display: grid
    grid-template-columns: 1fr 1fr
    text-decoration: none

  
@media (min-width: $media-larger-tablet) 
  .masonry .right-content 
    padding: 48px
  

/* Special case for the cards on monitors bigger than full HD */
@media (min-width: 2500px) 
  .masonry 
    margin: 0 auto
    max-width: 1920px
