html, body, #root, .App
  height: 100vh
  margin: 0

body
  background-color: $color-black
  
.App
  color: $color-text-silver
  font-family: $font-text
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  display: grid
  grid-template-rows: auto 1fr auto

