// # Colors
$black: black
$red: #EC4C24
$grey: #8C8C84
$yellow: #cd9042
$dark: #2C2C2C
// # Text
$silver: #CCC5BC
$white: white

// # Fonts
$font-text: Nunito, Impact, sans-serif

// # Spacing
$space-big: 24px
$space-medium: 16px
$space-small: 8px

// # Media queries  
$media-small-mobile: 320px
$media-larger-mobile: 400px
$media-larger-phablet: 550px
$media-larger-tablet: 750px
$media-larger-desktop: 1000px

// # Border radius
$radius: 8px

$button-height: 44px

$page-hero-background : "https://picsum.photos/200/300"
